#image1, #image2{
    /* max-width: 200px; */
    max-height: 250px;
  }

.juxtapose{
    max-width: 450px;
    margin: auto;
}

/* Footer */
#site-footer {
  position: relative;
  /* width: 100%; */
  background: #6c567b;
  height: 60px;
}
.copy{
  position: absolute;
  bottom: 0;
  font-size:12px;
  text-align:center;
  color: white;
  font-weight: 300;
  width: 100%;
}
