.header
 .grid-face
  - 48.times do
   .face
    %img(src="")
    .mask
 .table
  .content
   %h1.steps Beautiful Portraits grid
   %p.steps randomuser.me – velocity.js – velocity.ui.js
   %a.btn.steps{:href=>""}
    %span
%section
 %h2 by @marco_bf